.main {
  margin-top: 130px;
}

.main__google-logo {
  display: block;
  width: 272px;
  margin: 0 auto;
}

.main__search-input {
  display: block;
  width: 582px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dfe1e5;
  line-height: 24px;
  border-radius: 24px;
}

.main__search-input:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main__btn--wrapper {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  padding: 10px 16px;
  margin-top: 30px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f8f9fa;
}
